* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

body,
html,
.app {
  height: 100%;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #121212;
  color: #e0e0e0;
}

.app {
  padding-top: 6rem;
}

p {
  margin-bottom: 1rem;
  line-height: 160%;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background: #1e1e1e;
  color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(255, 255, 255, 0.1);
  z-index: 1000;
}

.fixed-header h1 {
  margin: 1.5rem;
  font-size: 2rem;
}

.main-layout {
  display: flex;
  height: calc(100vh - 6rem);
  box-sizing: border-box;
  width: 100%;
}

.sidebar {
  width: 15%;
  min-width: 16.875rem;
  max-width: 18.75rem;
  border-right: 0.0625rem solid #333;
  padding: 1rem 0.5rem;
  font-size: 0.875rem;
  background-color: #1a1a1a;
  overflow-y: auto;
}

.lesson-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lesson-list li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 0.125rem solid transparent;
  border-radius: 0.5rem;
  margin-top: 0.25rem;
  color: #ccc;
}

.lesson-list li:first-child {
  margin-top: 0;
}

.lesson-list li:hover {
  border-color: white;
}

.lesson-list li:has(.foldable-section):hover {
  border-color: transparent;
}

.foldable-header {
  border: none !important;
}

.lesson-list li.selected {
  border-color: #4d90fe;
  font-weight: bold;
  background-color: #2a2f4a;
  color: #fff;
}

.content-area {
  flex: 1 1 auto;
  padding: 2.5rem 3.125rem;
  overflow-y: auto;
  font-size: 0.875rem;
  background-color: #181818;
  color: #e0e0e0;
}

.content-area pre {
  background-color: #2a2a2a;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  display: block;
  max-width: 100%;
  margin: 1rem 0;
  box-sizing: border-box;
  white-space: pre;
  user-select: text !important;
}

.content-area pre span {
  background-color: #2a2a2a;
  user-select: text !important;
}

.lesson-content {
  max-width: 75rem;
  margin-inline: auto;
  min-width: 28.75rem;
}

.lesson-content p {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.lesson-content h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #fff;
}

.lesson-content h3 {
  font-size: 1.25rem;
  margin-block: 2.75rem 1.5rem;
  color: #fff;
  border-left: 0.1875rem solid #4675c0;
  padding-left: 0.75rem;
}

.code-wrapper {
  background-color: #2a2a2a;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  margin: 1rem 0;
  font-size: 0.875rem;
  box-sizing: border-box;
  border: 0.0625rem solid #444;
  user-select: text !important;
}

code #text {
  background-color: #2a2a2a;
}

.code-filename {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #1f1f1f;
  color: #e0e0e0;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 0.0625rem solid #444;
}

.foldable-section {
  box-sizing: border-box;
  color: #e0e0e0;
  font-size: 0.875rem;

  border: none;
  padding: 0;
}

.code-filename span {
  flex: 1;
  text-align: left;
}

.foldable-header {
  display: block;
  cursor: pointer;
  width: 100%;
  padding-block: 1rem;
  margin-left: 0.25rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s;
  border: none;
}

.foldable-header:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.foldable-content {
  border-left: 0.125rem solid #555;
  padding-left: 1rem;
  margin-left: 0.25rem;
  margin-bottom: 1rem;
  max-height: 9999px;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.8s, opacity 0.5s, margin 0.2s;
}

.foldable-content.closed {
  max-height: 0;
  opacity: 0;
  margin-block: 0;
  transition: max-height 0.2s, opacity 0.4s, margin 0.4s;
}

.var-table {
  width: 100%;
  margin: 1rem 0;
  border-collapse: collapse;
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 0.5rem;
  overflow: hidden;
}

.var-table th,
.var-table td {
  padding: 0.625rem 0.75rem;
  text-align: center;
  border-right: 1px solid #444;
}

.var-table th:last-child,
.var-table td:last-child {
  border-right: none;
}

.var-table thead {
  background-color: #1f1f1f;
  font-weight: bold;
  color: #5999ff;
}

.var-table tbody tr:nth-child(even) {
  background-color: #252525;
}
